#main-content {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
    font-weight: 600;
    color: rgb(55 65 81);
}

.form-outline.mb-4 {
    color: var(--main-color);

}