/* Variaveis Globais */
:root {
    --main-color: #002B4D;
    --main-color-hover: #01233d;
    --second-main-color: #E73D36; 
    --delete-color: #F4485E;
    --delete-color-hover: #e92a44;
    --main-font: 'Poppins', sans-serif;
    --text-sm: 0.875rem;
}

.main-color{
    color: var(--main-color) !important;
}

/* Navbar */

.navbar_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.navbar_img img {
    width: 40px
}

.navbar_menu {
    border-radius: 0.75rem;
}

/* Sessão de Conteudos */

#main-content {
    font-family: var(--main-font) !important;
    font-size: 12px !important;
    font-weight: 600;
    color: rgb(55 65 81);
}

/* Formulários */

h3 {
    font-weight: 600;
}

.card {
    border-radius: 0.75rem !important;
}

input {
    border-radius: 0.5rem !important;
}

.form-control:focus {
    box-shadow: none !important;
    border: 2px solid var(--main-color) !important;
}

.form-check-input:checked {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.breadcrumb .breadcrumb-item a {
    color: var(--main-color) !important;
}


/* Tabelas */

table tbody {
    font-weight: 500;
}

table tr {
    border-color: #ededed !important;
}

input[type="search"]:focus-visible {
    border: 2px solid var(--main-color);
    outline: none !important;
}

.paginate_button {
    border-radius: 0.375rem !important;
    background: #fff !important;
    border: 1px solid var(--main-color) !important;
    margin-top: 5px !important;
}

.edit-icon {
    color: var(--main-color);
}

.remove-icon {
    color: var(--delete-color);
}

.edit-icon:hover {
    color: var(--main-color);
}

.remove-icon:hover {
    color: var(--delete-color);
}

.licoes-icon {
    color: var(--main-color);
}

.licoes-icon:hover {
    color: var(--main-color);
}

.toast{
    font-family: var(--main-font) !important;
}

#excluir{
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.card.customCard{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    width: 620px;
    align-self: center;
}
.card-header.customCardHeader {
    background-color: var(--main-color);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.2rem;
    font-size: 17px;
}

.card-body.customCardBody {
    padding: 4rem;
    font-size: 14px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.row.mb-0.custom {
    padding-top: 2.5rem;
}
.container.customContainer{
    max-width: 1180px;
   
}

.row.mb-3.custom{
    padding-top: 1rem;
}

.btn.btn-primary.custom{
    width: 100px;
}

.login.row{
    justify-content: center;
}

.pwd.row{
    justify-content: center;
}

.row.mb-0.custom2{
    padding-top: 12px;

}
/* Diários de Aula */
#diarios tr{
    height: 80px;
}
#diarios td{
    text-align: center;
}

.text-sm{
    font-size: var(--text-sm) !important;
}

.font-weight-700{
    font-weight: 700;
}

.second-main-color{
    color: var(--second-main-color);
}